#services .card-img-top {
    height: 200px;
    object-fit: cover; /* Agar gambar terpotong rapi jika ukurannya berbeda */
  }
  
  #services .card {
    transition: transform 0.3s;
  }
  
  #services .card:hover {
    transform: scale(1.05);
  }
  

  


  
  
  #products .card-img-top {
    height: 200px;
    object-fit: cover; /* Untuk menjaga proporsi gambar */
  }
  
  #products .card {
    transition: transform 0.3s;
  }
  
  #products .card:hover {
    transform: scale(1.05); /* Efek zoom ketika hover */
  }
  
  #products .card-title {
    color: #007bff;
  }
  
  #about{

    background-color: pink;
  }
